// 透明
$transparent: rgba(0,0,0,0);

// 背景色
$bgColored: #F9F9F9;

// テーマカラー
$themeColor: #181a1b;
// $themeColorDark: #181a1b;
// $themeColorLight: rgba(0, 76, 179, 0.15);
$themeColorWhite: #d0d0d0;
$themeColorAccent: rgb(186, 117, 255);
$colorBlack: #1a1a1a;

// システム
$systemColor: #0361db;
$systemColor_bgDarkText: #3ea6ff;
$systemColor_bgDarkBg: #198bee;
$publish: #007800;
// 警告
$error: #CC0000;

// 通知
$attention: #CC0000;

$colorPlaceholder: #909090 !important;
$nonColored_0: #000000;
$nonColored_005: rgba(0, 0, 0, 0.05);
$nonColored_007: rgba(0, 0, 0, 0.07);
$nonColored_01: rgba(0, 0, 0, 0.1);
$nonColored_02: rgba(0, 0, 0, 0.2);
$nonColored_03: rgba(0, 0, 0, 0.3);
$nonColored_06: rgba(0, 0, 0, 0.6);
$nonColored_3: #030303;
$nonColored_5: #505050;
$nonColored_6: #606060;
$nonColored_9: #909090;
$nonColored_d: #ddd;
$colorWhite: #fff;
$colorWhite_07: rgba(255, 255, 255, 0.7);