@charset "UTF-8";

// ブレイクポイントmixin
@mixin media_sp(){
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin media_tab(){
  @media only screen and (max-width: 980px) {
    @content;
  }
}

@mixin media_pc(){
  @media only screen and (min-width: 769px) {
    @content;
  }
}

@import '_reset.scss';
@import '_color.scss';

.pc {
  @media screen and (max-width:768px) {
    display: none !important;
  }
}

.sp {
  @media screen and (min-width:769px) {
    display: none !important;
  }
}

html {
  font-family: 
  Roboto,
  "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
}

main {
  flex: 1 0 auto;
  min-height: 1px;
}

body {
  font-size: 14px;
  background: $themeColor;
}

img {
  max-width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}

.mb30 {
  margin-bottom: 40px !important;
}

// footer下部固定
.containar {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

h1 {
  font-size: 20px;
  font-family: 'Josefin Sans';
  display: inline-block;
  background: linear-gradient(327deg, rgba(255, 156, 239, 1), rgb(162, 12, 255) 32%, rgb(192, 91, 255) 73%, rgba(255, 107, 228, 1));
  background: linear-gradient(327deg, rgb(162, 12, 255) 80%, rgb(238, 80, 255));
  background-image: linear-gradient(90deg, rgb(71, 221, 244)10%, rgb(127, 29, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// header 
.ly_header {
  width: 100%;
  height: 40px;
  top: 0;
  z-index: 100;
  color: $colorWhite;
  background: $themeColor;
  position: fixed;
}

.ly_header_inner {
  height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media_sp() {
    padding: 0 4%;
  }
}

.bl_headerNav {
  display: flex;

  li {
    width: 72px;
    text-align: center;

    @include media_sp() {
      &:first-child {
        display: none;
      }
    }
  }

  span {
    margin-top: 4px;
    display: inline-block;
    @include media_sp() {
      margin-top: 10px;
    }
  }

  a {
    width: 100%;
    display: inline-block;
    margin-bottom: 8px;
    // padding: 0 20px;
    line-height: 40px;
    display: inline-block;
    padding-bottom: 4px;
    position: relative;
    text-align: center;

    &.active {
      color: $themeColorAccent;

      &::before {
        content: '';
        width: 50%;
        height: 4px;
        border-bottom: 4px solid $themeColorAccent;
        bottom: 0;
        display: block;
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
      }
    }

    &::after {
      background-color: $themeColorAccent;
      bottom: 0;
      content: '';
      display: block;
      height: 4px;
      position: absolute;
      transition: .5s all;
      width: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover {
      color: $themeColorAccent;
      &:after {
        width: 50%;
      }
    }
  }
}

// footer
.ly_footer {
  width: 100%;
  text-align: center;
  background: $nonColored_3;
  color: $colorWhite;
  line-height: 40px;
  font-size: 12px;
}

.scroll_top {
  p {
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .dli_caret_up {
    display: inline-block;
    vertical-align: middle;
    color: $colorWhite;
    line-height: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 0.64952em 0.375em;
    border-width: 20px 12px;
    border-bottom-color: currentColor;
    border-top: 0;
  }

  &.visible {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    animation: fadeIn 1s;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 10;
    color: red;
    background: $nonColored_5;
    background: $nonColored_06;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

// main
.ly_main {
  padding-top: 40px;
}

.ly_main_inner {
  overflow: hidden;
}

.section_wrap {
  overflow: hidden;
}

// parts
// btn
.el_btn_borderd {
  margin: 0 10px;

  a {
    width: 300px;
    display: block;
    text-align: center;
    line-height: 40px;
    max-width: 300px;
    border: 1px solid $colorWhite;
    color: $colorWhite;
  }
}

.ly_top_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

// section 
.section {
  padding: 50px 0;
  text-align: center;
}

.section_title {
  margin-bottom: 40px;
  font-size: 34px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -12px;
    display: inline-block;
    width: 34px;
    height: 5px;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    background-color: $themeColor
  }
}

.section_text {
  line-height: 1.6;
  
  p {
    margin: 20px 0;
  }
}

// page
.page {
  padding: 40px 30px 100px;
}
.page_title {
  margin-bottom: 40px;
  font-size: 30px;
  text-align: center;
}
.page_title_note {
  margin: 10px;
  font-size: 12px;
  color: $colorWhite;
  color: $nonColored_9;
  text-align: center;
  display: block;
}

// page_top
.page_top {
  background: $colorWhite;

  .ly_header {
    background-color: $transparent;
    box-shadow: none;
    border-bottom: none;

    &.bg {
      background: $themeColor;
      transition: all 0.5s ease-out;
    }
    
  }

  .ly_main {
    padding-top: 0;
  }
}
// section_top
.section_top {
  position: relative;
  background: $themeColor;

  @include media_sp() {
    height: 160vw;
    background: $themeColor;
  }

}

.top_img {
  width: 100%;
  overflow: hidden;
  line-height: 0;

  @include media_sp() {
    height: 100%;
  }

  img {
    width: 100%;
    height: 50vw;
    object-fit: cover;
    object-position: 100% 100%;

    opacity: 0;
    filter: blur(20px) brightness(2);

    @include media_sp() {
      height: 120%;
      object-position: center -50vw;
    }
  }

  &.active img {
    opacity: 1;
    filter: blur(0px) brightness(1);
    transition: all 2s ease-out;
  }
}

.top_txt {
  width: 100%;
  top: 8vw;
  position: absolute;
  text-align: center;
  color: $colorWhite;
  @include media_sp() {
    top: 25%;
  }
}

.top_txt_name {
  margin-bottom: 1.4vw;
  font-size: 12vw;
  font-family: 'Josefin Sans';
  line-height: 1;
  @include media_sp() {
    margin-bottom: 30vw;
    font-size: 19vw;
    line-height: 1.1;
  }
}

.top_txt_title {
  font-size: 3vw;
  font-weight: 500;
  font-family: 'Josefin Sans';
  @include media_sp() {
    font-size: 7vw;
  }
}

.top_txt_arrow {
  position: relative;
  width: 60px;
  margin: 3vw auto 0;
  transform: rotate(90deg);
  @include media_sp() {
    margin-top: 13vw;
  }

  .line01 {
    display: block;
    height: 2px;
    background-color: $colorWhite;
  }

  .line02 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: right bottom;
    width: 20px;
    height: 2px;
    background-color: $colorWhite;
    transform: rotate(45deg);
  }
}

// section_about
.section_about {
  padding: 100px 3% 120px;
  min-height: 370px;
  text-align: center;

  @include media_sp() {
    padding: 50px 5%;
  }

  .section_text {
    display: inline-block;
    text-align: left;
  }
}

.section_works {
  padding-top: 100px;
  padding-bottom: 130px;
  background: $themeColor;
  color: $colorWhite;

  @include media_sp() {
    padding-top: 50px;
    padding-bottom: 80px;
  }

  .section_title {
    margin-bottom: 70px;
    padding-left: 50px;

    @include media_sp() {
      margin-bottom: 50px;
      padding-left: 13%;
    }

  &::before {
    margin-left: 10px;
    background-color: $themeColorWhite;
  }

    a {
      display: flex;
      margin-left: 10px;
    }
  }
}

.material-symbols-outlined {
  font-size: 30px;
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 40
}

.material-symbols-outlined.fill {
  font-variation-settings:
  'FILL' 1,
  'wght' 200,
  'GRAD' 0,
  'opsz' 40;
  color: $themeColorAccent;
}

// swiper
.swiper-wrapper {
  transition-timing-function: linear;
}

.swiper-slide {
  color: #fff;
  font-weight: bold;
}

.swiper-slide img {
  height: auto;
  width: 100%;
}

.swiper_img_wrapper {
  border-radius: 5px;

  // hover時のエフェクト関連
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;

  img {
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }

  &::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }

  &:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}


.section_skill {
  margin: 50px auto 120px;
  padding: 0 3%;
  max-width: 890px;
  min-height: 500px;
  text-align: left;
  line-height: 1.6;

  @include media_sp() {
    margin-top: 50px;
    margin-bottom: 100px;
    padding-left: 5%;
    padding-right: 5%;
  }

  dl {
    margin: 10px 0;
    padding-left: 1em;
    
  }

  dt {
    text-indent: -1em;
    font-weight: normal;
  }
}

// page_works
.page_works {
  .page_title {
    color: $colorWhite;
  }
}

.works_list {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work_list_item {
  margin-bottom: 36px;
  width: 31%;

  @include media_sp() {
    width: 48%;
  }

  a:hover {
    .work_list_item_icon {
      position: relative;
    }

    img {
      outline: 2px solid $themeColorAccent;
      transition: outline-color .3s
    }

    .work_list_item_title {
      color: $themeColorAccent;
      transition: color .3s;
    }
  }
  
}

.work_list_item_icon {
  margin-bottom: 12px;
  
  img {
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
    object-position: 0 top;
    aspect-ratio: 1.732 / 1;
    outline-offset: -2px;
    outline: 2px solid transparent;
    transition: all .3s;
  }
}

.work_list_item_title {
  margin-bottom: 4px;
  font-size: 16px;
  word-break: break-all;
  line-height: 1.5;
  transition: color .3s;
  color: $themeColorWhite;

  @include media_sp() {
    font-size: 15px;
  }
}

.work_list_item_range {
  font-size: 13px;
  color: $nonColored_9;

  span:last-child .slash {
    display: none;
  }
}

.link_works_documents {
  text-align: center;

  a {
    padding: 16px 40px;
    display: inline-block;
    border: 1px solid $colorWhite;
    color: $colorWhite;
    transition: all .2s;
    
    &:hover {
      color: $themeColorAccent;
      border-color: $themeColorAccent;
      transition: all .2s;
    }
  }
}

// page_woks_detail
.page_works_detail {
  padding-top: 20px;
  padding-bottom: 10px;
  color: $themeColorWhite;
}

.works_detail_inner {
  margin: 0 auto 60px;
  padding: 0 20px;
  max-width: 900px;

  @include media_sp() {
    padding: 0;
  }
}

.works_detail_paging {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;

  a {
    display: block;
    padding: 0 20px;
    width: 100%;

    &:hover {
      color: $themeColorAccent;
    }
  }

  .disable {
    padding: 0 20px;
    color: $nonColored_6;
  }
}

.caption_box {
  margin-bottom: 60px;
}

.work_outline_wrap  {
  margin-bottom: 50px;
}

.work_outline_title {
  margin-bottom: 70px;
  font-size: 20px;
  color: $colorWhite;
  font-weight: bold;
}

.work_title {
  margin-bottom: 20px;
  color: $colorWhite;
  font-size: 20px;
  font-weight: bold;
}

.work_link {
  margin-top: 4px;
  margin-left: 10px;
  color: $themeColorAccent;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    opacity: .8;
  }
}

.work_time {
  margin: 10px 0 6px;
  font-size: 12px;
}

.work_range {
  margin-top: 20px;
}

.work_range,
.work_skill {
  margin-bottom: 4px;
  word-break: break-all;

  span:last-child .slash {
    display: none;
  }
}

.work_environment {
  margin-bottom: 6px;
  font-size: 12px;
}

.work_member {
  margin-bottom: 20px;
  font-size: 12px;
}

.work_description {
  margin: 30px 0 0;
  line-height: 1.5;

  @include media_sp() {
    line-height: 1.8;
  }

  p {
    margin: 10px 0;
    @include media_sp() {
      margin: 14px 0;
    }
  }
}


.img_box {
  vertical-align: top;
  display: inline-block;

  .bb {
    box-sizing: content-box;
    border-bottom: 1px solid $nonColored_5;
  }

  img {
    margin-bottom: 100px;
  }

  .mb0 {
    margin-bottom: 0;
  }
}

.img_pc {
  margin: 0 10% 0 0;
  max-width: 500px;
}

.img_sp {
  max-width: 240px;
}

.img_caption {
  margin: 0 0 6px;
  font-size: 14px;
}

.img_stamp {
  margin: 0 10% 0 0;
  max-width: 400px;
}

.img_rough {
  max-width: 300px;
}

.password {
  color: red;
}

.img_movie {
  margin: 40px 0 0;

  @include media_sp() {
    width: 100%;

    iframe {
      width: 100%;
    }
  }
}

.img_app {
  max-width: 220px;
  margin: 0 10% 0 0;
}

.app_icon {
  width: 100px;
}

.item_caption.second {
  margin: 60px 0 0;
}

.work_ly_column_2 {
  margin-bottom: 80px;
  display: flex;

  &.wrap {
    flex-wrap: wrap;
  }
}

.work_ly_id_8 {
  .work_ly_column_2 {
    margin-bottom: 0px;
  }
}

.page_resume {
  color: $themeColorWhite;
  text-align: center;

  .btn_wrap {
    margin-top: 60px;
  }
}

.btn_download {
  margin-bottom: 40px;
  padding: 12px;
  width: 300px;
  border: 1px solid $themeColorAccent;
  color: $themeColorAccent;
  font-size: 16px;
  display: inline-block;

  &:hover {
    background: $themeColorAccent;
    color: $colorWhite;
  }
}

// fadeDown
.fadeDown{
  animation-name:fadeDownAnime;
  animation-duration:2s;
  animation-fill-mode:forwards;
  opacity:0;
}
@keyframes fadeDownAnime{
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// fadeIn
.fadeInAbout {
  animation: fadeInAbout 1.5s;
}

@keyframes fadeInAbout {
  from {
    opacity: 0;
    transform: translateY(20px);
    transition-duration:.5s;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
    transition-duration:.5s;
  }
}

// fadeIn
.fadeInSkill {
  animation: fadeInSkill 1.5s;
  animation-fill-mode:forwards;
}

@keyframes fadeInSkill {
  0% {
    opacity: 0;
    transform: translateY(20px);
    transition-duration:.5s;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    transition-duration:.5s;
  }
}
